@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 14px;
}

.error-message {
	@apply text-[#FF0000] text-xs mt-1;
}

.logo {
	font-family: 'Rubik Scribble', system-ui;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #5d6064;
	border-radius: 20px;
	border: transparent;
}
